section{
    width: 500px;
    height: 320px;
    background-color: rgb(74, 77, 218);
}
#rgba{
    width: 50%;
    height: 30%;
    background-color: rgba(212, 235, 235, 0.2);
}

#opacity{
    width: 50%;
    height: 40%;
    float: right;
    background-color: brown;
    opacity: .4;
}