html {
    font-size: 16px;
    font-family: 'Open Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


/*D9D7F1 FFFDDE E7FBBE FFCBCB */

body {
    background-color: #FFCBCB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: #D9D7F1;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    width: 100%;
    max-width: 960px;
}