html {
    font-size: 16px;
    font-family: 'Open Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}


/*D9D7F1 FFFDDE E7FBBE FFCBCB */

body {
    color: #FFAD60;
    background-color: #96CEB4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    background-color: #FFEEAD;
    padding: 1em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    max-width: 1020px;
}

.pricing-plan {
    border-bottom: 5px solid #D9534F;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 3em;
    max-width: 300px;
}

.pricing-header {
    color: #e99546;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.6em;
}

.pricing-features {
    margin: 2em 0 1em;
    color: #50a87f;
    font-size: 1.2em;
}

.pricing-features-item {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: .8em;
    line-height: 1.9;
    padding: .6em 0 1em;
    border-top: 1px solid salmon;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid salmon;
}

.pricing-price {
    color: #D9534F;
    display: block;
    font-size: 2em;
    font-weight: 800;
}

.pricing-button {
    border: 3px solid #D9534F;
    border-radius: 6px;
    padding: .7em 1.8em;
    display: inline-block;
    margin: 1em 0 2em;
    text-decoration: none;
    color: #D9534F;
}

.pricing-button:hover,
.pricing-button:focus {
    color: #ffffff;
    background-color: #ffae61;
}

@media (min-width: 900px) {
    .panel {
        width: 100%;
        flex-direction: row;
        border-radius: 1.6em;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 2px solid #D9534F;
        padding: 1em 1.3em;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}