section {
    width: 900px;
    height: 620px;
    background-color: rgb(74, 77, 218);
}

div {
    display: inline-block;
    width: 201px;
    height: 201px;
    border: solid black;
    border-width: 3px;
    border-radius: 15px;
}

#rgba {
    background-color: rgba(212, 235, 235, 0.9);
}

#opacity {
    background-color: rgb(202, 26, 26);
    opacity: .4;
    /*  position: relative;
    top: 150px; */
    transform: rotate(345deg);
    transform-origin: top right;
}

#tres {
    position: fixed;
    border-radius: 50%;
    transition: .9s .2s;
}

#tres:hover {
    position: fixed;
    background-color: beige;
    transform: scale(1.2);
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    padding: 1em 2em;
    margin: 50px;
    background-color: #023047;
    color: #ee9b00;
    border: 3px solid;
    transition: all 0.4s;
}

button:hover {
    border-color: #baee00;
    color: rgb(219, 241, 217);
    box-shadow: 0 0.5em 0.5em -.2em #a7ee00;
    transform: translateY(-6px);
    cursor: pointer;
}

main {
    background-color: #023047;
}