html {
    background-color: rgb(255, 228, 228);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    background-color: rgb(168, 41, 41);
    width: 90%;
    height: 300px;
    margin: 0 auto;
    border: 5px solid rgb(88, 6, 6);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
}

#container div {
    width: 120px;
    height: 100px;
}

#container div {
    width: 120px;
    height: 100px;
}