section{
    width: 900px;
    height: 620px;
    background-color: rgb(74, 77, 218);
}
div{
    display: inline-block;
    width: 261px;
    height: 145px;
    border:  solid black;
    border-width: 2px 3px 1px;
    border-radius: 15px;

}
#rgba{
    background-color: rgba(212, 235, 235, 0.9);
    padding-left: 60px;
}
#opacity{
    background-color: rgb(202, 26, 26);
    opacity: .4;
    position: relative;
    top: 150px;

}
#tres{
padding-top: 10%;
}