body{
    background-color: #3e7175;
    font-family: 'Comfortaa', cursive;
    
    /* border: 3px solid coral; */

}
img{
   width: 30%; 
   margin: calc(3%/2);
   padding-bottom: 8px;
   border-bottom: .2em solid  #4e2f4c;
   border-radius:  10px 10px 0 0;
}

nav{
    text-transform: uppercase;
    border-bottom: .12em solid #41273f;
    color: #382137;
    width: 30%;
    margin-left: 1.65%;
    padding: 1.1em 0;
    font-size: 1.8em;
}

#contenedor{ 
    height: 3em;
    display: flex;
    justify-content: space-between;
    margin: calc(3%/2);

}
#contenedor div{
    width: 11%;
    height: 90%;
}

#contenedor2{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline ;
    /* flex-direction: column; */

}
#contenedor2 img{
    width: 16.8%;
    border-radius: 4px 4px 0 0;
}
::selection{
    background-color: #09303385;
}