body {
    line-height: 1.2;
    font-family: Helvetica, Arial, sans-serif;
    background: #233d4d;
    color: #ea745f;
    margin: 0px;
}
p{
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 2px;
    padding: 5px;
    border: 5px solid #06151f;
    border-radius: 10px;
    background-color: #133144;
    padding: 10px 15px;

}
a {
    border-bottom: 2px solid #fe7f2d;
    color: #fe7f2d;
    text-decoration: none;
    font-size: 1rem;

}
a:hover{
    color: #b93726;
    background-color: antiquewhite;
}
li a { /* Descendant selectors all anchors in lists */ 
    color: #52a0d4;
}
.post a {
    color: #b93726;
}

h2 + button{
    background-color: #df4e34;
}

/* Universal selector sirve para todo 
*{
    color: black;
}*/
button,input {
    font-size: 20px;
    background: #233d4d;
    color: #eec0a1;
    padding: 2px 13px;
}
button:hover{
    background-color: #992e1f;
}
#signup{
    color: #5a9ec9;
    background: #0f202b;
}
h1, h2{
    color: #fe7f2d;
    font-weight: 500;
}
h1{
    font-weight: 600;
    margin: 25px 30px;
}
.borderline{
    border: #fe7f2d;
}
.tag{
    background-color: #a04848;
    color: #ffdbdb;
    font-size: 14px;
}
::selection{
    background-color: #eec0a1;
}
section{
    background-color: #0e2636;
    width: 60%;
    height: 160px;
    border-radius: 10px;

    margin-top: 15px;
    margin-left: 15px;
    padding: 8px;
}
nav{
    border-radius: 10px;
    background-color: #0e2636;
    width: 70%;
    padding: 10px;
    margin: 10px 5px 10px 5px;
}